/* Home */

.menu
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.menu li
{
    float: right;
    display: inline;
}

.menu>.liHome
{
    float: left;
}

.menu li a
{
	display: block;
    padding: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

li a:hover
{
    background-color: #d3d3d336;
}

/* Finanças */

.conteiner
{
    background-color: #fff;
    padding-top: 5%;
}

h3
{
    text-align: center;
    color: #000;
}

table
{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

th
{
    text-align: center;
}

.form-control
{
    margin-left: 450px;
    width: 200px;
    margin-top: 2px;
}

button
{
    margin-left: 450px;
    margin-top: 2px;
    width: 150px;
    color: black;
    display: inline;
}